body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #00458b;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.filter-section {
    margin: 20px;
    text-align: center;
}

.filter-select {
    padding: 10px;
    font-size: 16px;
}

.videos-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Adjusts based on screen size */
    gap: 20px; /* Space between cards */
    padding: 20px;
    justify-items: center; /* Center items horizontally within each grid cell */
}

.video-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    width: 100%; /* Ensures it fits within the grid column */
    max-width: 500px; /* Maximum width */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
}

.video-card iframe {
    width: 100%; /* Full width of the card */
    height: 280px; /* Maintain aspect ratio */
}

.video-card h3, 
.video-card p {
    width: 100%; /* Full width of the card */
    text-align: center;
    margin: 10px 0;
}

.video-card:hover {
    transform: scale(1.05); /* Zoom effect on hover */
}

footer {
    background-color: #00458b;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
/* Navigation Bar */
nav {
    background-color: #003366;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

nav a:hover {
    background-color: #002244;
    border-radius: 5px;
}